.Main .BlogTitle {
  text-align: center;
  padding-top: 200px;
}

.Main .Subheadline {
  text-align: center;
}

.Main .Back {
  padding: 40px;
  text-align: center;
}

.Main {
  position: relative;
}

.Main svg {
  position: absolute;
  bottom: -40px;
  left: 0;
}
.tab {
  padding-left: 2px;
}
.BlogText {
  margin: auto;
  padding: 20px;
  max-width: 1200px;
  line-height: 1.5;
}
