html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  font-family: -apple-system, Roboto, BlinkMacSystemFont, "Segoe UI", Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  line-height: 1.4;
  font-size: 20px;
  background: #efeeee;
  overflow-x: hidden;
  cursor: none;
}

.error {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.Main {
  height: 970px;
  background: url("../images/coffeelaptop.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.MainGroup {
  max-width: 500px;
  margin: 0 auto;
  padding: 150px 50px;
  text-align: center;
}

.profile-img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: 50px auto 20px auto;
  animation: MainAnimation 3s 0.2s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
  opacity: 0;
}

/* Dominick Lee */
.Main h1 {
  margin: 0;
  color: white;
  font-size: 60px;
  font-weight: 300;
  line-height: 1.2;
  margin: auto auto;
  animation: MainAnimation 3s 0.2s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
  opacity: 0;
}
/* Hey, I'm */
.Main p {
  font-size: 30px;
  font-weight: 300;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.8);
  margin: 0 auto;
  animation: MainAnimation 3s 0.1s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
  opacity: 0;
}
/* Fun text cursor animation */
.Main h3 {
  margin: auto;
  padding-bottom: 35px;
  padding-top: 10px;
  font-weight: 300;
  color: #c5c5c5;
  font-size: 45px;
  line-height: 1.2;
  animation: MainAnimation 3s 0.2s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
  opacity: 0;
}
a {
  cursor: none;
}

/* Resume download button */
.Main a {
  font-size: 17px;
  font-weight: 500;
  color: white;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.7);
  padding: 9px 20px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
  text-decoration: none;
}

.Main a:hover {
  background: white;
  color: black;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  transform: translateY(-3px) scale(1.02, 1.02);
}

/* For Fun Appear */
@keyframes MainAnimation {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* For fun wave */
.Main {
  position: relative;
}

.Main svg {
  position: absolute;
  bottom: -40px;
  left: 0;
}

/* Projects */

.TopicHeader {
  color: black;
  font-weight: 400;
  margin-top: 100px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 60px;
}

.FancyRectangle {
  margin: auto;
  background-color: black;
  height: 5px;
  width: 300px;
}

.Projects {
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 1200px;
  background: #efeeee;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
  object-fit: cover;
}

.enlightenUI {
  width: 500px;
  margin: auto;
  padding-top: 20px;
}

.ProjectDescription {
  margin: auto;
  padding: auto;
}

/* Experience */
.ExperienceCard {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  max-width: 900px;
}
.ExperienceImage {
  width: 200px;
  margin: auto;
}

.ExperienceText {
  max-width: 300px;
}

.ExperienceText h1 {
  text-align: left;
  font-size: 30px;
  font-weight: 400;
}
.ExperienceText p {
  text-align: left;
  font-size: 20px;
  font-weight: 300;
}
/* About Me */

.AboutMe {
  margin: auto;
  justify-items: center;
  font-weight: 400;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  padding-top: 30px;

  max-width: 1200px;
  width: 100%;
}
.AboutMeDescription {
  margin: auto;
  padding: 0 30px;
}

.CasualPhoto {
  border-radius: 300px;
  max-width: 500px;
}

@media (max-width: 1000px) {
  .enlightenUI {
    margin: auto;
    width: 400px;
  }

  .ProjectDescription {
    padding: 20px;
    max-width: 600px;
  }

  .Projects {
    margin: auto;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  }

  .CasualPhoto {
    margin: auto;
    margin-top: 30px;
    height: 400px;
    width: 400px;
  }

  .AboutMe {
    margin: auto;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    padding: auto;
  }
}

/* For mobile */
@media (max-width: 450px) {
  .ExperienceCard {
  }
  .ExperienceText {
    margin: auto;
  }

  .ExperienceText h1 {
    text-align: center;
  }
  .ExperienceText p {
    text-align: center;
  }
  .profile-img {
    margin-top: 0px;
  }
  .enlightenUI {
    margin: auto;
    width: 300px;
  }

  .CasualPhoto {
    margin-top: 30px;
    max-width: 300px;
    height: 100%;
    padding-bottom: 10px;
  }
  .Main svg {
    margin-bottom: -40px;
  }
  .Main {
    height: 870px;
  }
}

/* Fun social media footer */

.footer ul {
  padding-top: 100px;
  margin: auto;
  display: flex;
  margin-left: -20px;
  position: relative;
  text-align: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer ul li {
  list-style: none;
  display: inline-block;
}

.footer ul li a {
  width: 70px;
  height: 70px;
  background-color: #fff;
  text-align: center;
  line-height: 70px;
  font-size: 35px;
  margin: 0 10px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid #fff;
  z-index: 1;
}

.footer ul li a i {
  position: relative;
  color: #282936;
  transition: 0.5s;
  z-index: 3;
}

.footer ul li a:hover i {
  color: #fff;
  transform: rotateY(360deg);
}

.footer ul li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: 0.5s;
  z-index: 2;
}

.footer ul li a:hover:before {
  top: 0;
}

.footer ul li:nth-child(1) a:before {
  background: #3b5999;
}

.footer ul li:nth-child(2) a:before {
  background: #55acee;
}

.footer ul li:nth-child(3) a:before {
  background: #0077b5;
}
.footer ul li:nth-child(4) a:before {
  background: #000000;
}

/* FUN BUTTONSSSS 
#container {
  align-self: center;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}
.learn-more {
  width: 14rem;
  height: auto;
}
.learn-more .circle {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #282936;
  border-radius: 1.625rem;
}
.learn-more .circle .icon {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}
.learn-more .circle .icon.arrow {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: '';
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.learn-more .button-text {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 2rem;
  color: #282936;
  font-weight: 600;
  line-height: 1.3;
  text-align: center;
  text-decoration: none;
}
button:hover .circle {
  width: 100%;
}
button:hover .circle .icon .arrow {
  background: #fff;
  -webkit-transform: translate(1rem, 0);
  transform: translate(1rem, 0);
}
button:hover .button-text {
  color: #fff;
}
*/
.react-rotating-text-cursor {
  animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s
    infinite;
}

@keyframes blinking-cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Cuberto Test */
.cb-cursor {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 150;
  contain: layout style size;
  pointer-events: none;
  will-change: transform;
  -webkit-transition: opacity 0.3s, color 0.4s;
  -o-transition: opacity 0.3s, color 0.4s;
  -moz-transition: opacity 0.3s, color 0.4s;
  transition: opacity 0.3s, color 0.4s;
}
.cb-cursor:before {
  content: "";
  position: absolute;
  top: -24px;
  left: -24px;
  display: block;
  width: 48px;
  height: 48px;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  background: currentColor;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: opacity 0.1s, -webkit-transform 0.3s ease-in-out;
  transition: opacity 0.1s, -webkit-transform 0.3s ease-in-out;
  -o-transition: opacity 0.1s, -o-transform 0.3s ease-in-out;
  -moz-transition: transform 0.3s ease-in-out, opacity 0.1s,
    -moz-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, opacity 0.1s;
  transition: transform 0.3s ease-in-out, opacity 0.1s,
    -webkit-transform 0.3s ease-in-out, -moz-transform 0.3s ease-in-out,
    -o-transform 0.3s ease-in-out;
}
.cb-cursor-text {
  position: absolute;
  top: -18px;
  left: -18px;
  width: 36px;
  height: 36px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transform: scale(0) rotate(10deg);
  -moz-transform: scale(0) rotate(10deg);
  -ms-transform: scale(0) rotate(10deg);
  -o-transform: scale(0) rotate(10deg);
  transform: scale(0) rotate(10deg);
  opacity: 0;
  color: white;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.01em;
  -webkit-transition: opacity 0.4s, -webkit-transform 0.3s;
  transition: opacity 0.4s, -webkit-transform 0.3s;
  -o-transition: opacity 0.4s, -o-transform 0.3s;
  -moz-transition: opacity 0.4s, transform 0.3s, -moz-transform 0.3s;
  transition: opacity 0.4s, transform 0.3s;
  transition: opacity 0.4s, transform 0.3s, -webkit-transform 0.3s,
    -moz-transform 0.3s, -o-transform 0.3s;
}
@supports (mix-blend-mode: exclusion) {
  .cb-cursor.-exclusion,
  .cb-cursor.-opaque {
    mix-blend-mode: exclusion;
  }
}
@supports (mix-blend-mode: exclusion) {
  .cb-cursor.-exclusion:before,
  .cb-cursor.-opaque:before {
    background: white;
  }
}
.cb-cursor.-normal,
.cb-cursor.-text {
  mix-blend-mode: normal;
}
.cb-cursor.-normal:before,
.cb-cursor.-text:before {
  background: currentColor;
}
.cb-cursor.-inverse {
  color: white;
}
.cb-cursor.-visible:before {
  -webkit-transform: scale(0.2);
  -moz-transform: scale(0.2);
  -ms-transform: scale(0.2);
  -o-transform: scale(0.2);
  transform: scale(0.2);
}
.cb-cursor.-visible.-active:before {
  -webkit-transform: scale(0.23);
  -moz-transform: scale(0.23);
  -ms-transform: scale(0.23);
  -o-transform: scale(0.23);
  transform: scale(0.23);
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.cb-cursor.-pointer:before {
  -webkit-transform: scale(0.15);
  -moz-transform: scale(0.15);
  -ms-transform: scale(0.15);
  -o-transform: scale(0.15);
  transform: scale(0.15);
}
.cb-cursor.-text:before {
  opacity: 0.85;
  -webkit-transform: scale(1.7);
  -moz-transform: scale(1.7);
  -ms-transform: scale(1.7);
  -o-transform: scale(1.7);
  transform: scale(1.7);
}
.cb-cursor.-text .cb-cursor-text {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.cb-cursor.-text.-active:before {
  -webkit-transform: scale(1.6);
  -moz-transform: scale(1.6);
  -ms-transform: scale(1.6);
  -o-transform: scale(1.6);
  transform: scale(1.6);
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.cb-cursor.-opaque:before {
  -webkit-transform: scale(1.32);
  -moz-transform: scale(1.32);
  -ms-transform: scale(1.32);
  -o-transform: scale(1.32);
  transform: scale(1.32);
}
.cb-cursor.-opaque.-active:before {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
.cb-cursor.-lg:before {
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  -o-transform: scale(2);
  transform: scale(2);
}
.cb-cursor.-hidden:before {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}

.-color-red {
  color: red;
}
.-color-white {
  color: white;
}
.-color-green {
  color: #51c67d;
}
.-color-black {
  color: #282936;
}

.cb-demo {
  background: #fff;
}
.cb-demo-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100vh;
}
.cb-demo-container {
  padding: 0 20px;
}
@media (min-width: 1600px) {
  .cb-demo-container {
    padding: 0 120px;
  }
}
.cb-demo-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  margin: 30px 0;
}
@media (min-width: 1600px) {
  .cb-demo-row {
    margin: 60px 0;
  }
}
.cb-demo-item {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 50px 30px;
  margin: 0 20px;
  color: #000;
}
@media (min-width: 1600px) {
  .cb-demo-item {
    padding: 90px 30px;
    margin: 0 30px;
  }
}
.cb-demo-item-title {
  position: relative;
  margin: 0 0 25px 0;
  font-size: 30px;
  font-weight: bold;
}
.cb-demo-item-text {
  position: relative;
  max-width: 70%;
  margin: 0 auto;
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  font-weight: 300;
  line-height: 150%;
}
.cb-demo-item:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background: #f8f8f8;
  -webkit-transition: -webkit-box-shadow 0.2s;
  transition: -webkit-box-shadow 0.2s;
  -o-transition: box-shadow 0.2s;
  -moz-transition: box-shadow 0.2s, -moz-box-shadow 0.2s;
  transition: box-shadow 0.2s;
  transition: box-shadow 0.2s, -webkit-box-shadow 0.2s, -moz-box-shadow 0.2s;
}
